table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  height: 60px;
}

td {
  height: 40px;
}

.table {
  width: 100%;
  border: 1px solid;
}

#drop-area {
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.highlight {
  background-color: lightblue; /* Light blue background when highlighted */
  border-color: blue;
}
